name: Download_pbf_Brussels

on:
  schedule:
    - cron: "0 2 1 * *"
  workflow_dispatch:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  scrape-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: pip install requests==2.27.1
      - name: Set Git configurations
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
      - name: Save downloaded PBF file to repository
        run: |
          python pbf_analyse/download_pbf_brussels.py
          # Check if there are changes before committing
          git add pbf_analyse/history/*.pbf
          git diff --cached --exit-code || git commit -m "Downloaded Brussels PBF data" && git push origin HEAD:main
